label{
    color: #ffffff;
    display: inline-block;
    padding: 5px;
}
body{
    background: url(4K-Wallpaper-River.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#Checkboxed{
   display: block;
} 

input[type="text"],input[type="date"],
input[type="number"], select  {
width: 40%;
padding: 8px 10px;
display: block;
border: 1px solid #5b5353c9;
border-radius: 4px;
box-sizing: border-box;
}
#container{
    display: block;
    padding: 10px;
    position: fixed;
    margin: 15px;
    background-color: rgba(132, 119, 47, 0.505);
}
input#Button{
    color: white;
    background-color: rgba(243, 200, 6, 0.374);
    width: 100%;
    margin-top: 5%;
    padding: 15px;
    border-radius: 4%;
    border:1px solid rgba(221, 255, 0, 0.63) ;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.129);
}
#Button:hover{
    box-shadow:  0 17px 50px 0 rgba(0, 0, 0, 0.695);
}
#imgContainer{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: 400px; 
    background-color: rgba(204, 168, 7, 0.5);
    position: absolute;
    left: 40%;
    top: 15%;
}
#imgButton{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 870px;
    top: 520px;
    background-color: rgba(241, 182, 110, 0.738);
    color: #ffffff;
}
#tyMsg {
    width: 100% ;
    height: 60px;
    color: #ffffff;
    position: relative;
    background-color: rgba(3, 173, 3, 0.736);
    text-align: center;
    display: none;
}